<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Die Styles.css muss aus allen HTML_Dateien verlinkt werden-->
    <link rel="stylesheet" href="styles.css">
    <!--Es gibt im Internet Dienste, die Styles zur Verfügung stellen. Beispiel: font awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
    <title></title>
</head>
<body>
    <header>
        <img src="bank-3-32.png" alt="Logo Bank" class="src">
        Support
        <i class="fa-solid fa-phone"></i><a href="hilfe.html">Hilfe</a> 
        <i class="fa-regular fa-envelope"></i><a href="Postfach.html">Postfach</a> 
        <i class="fa-regular fa-user"></i><a href="Profil.html">Profil</a> 
        <i class="fa-solid fa-paperclip"></i><a href="agb">AGB</a> 
    </header>

<header>
    <h1>Hilfe - Volksbank Gemen</h1>
</header>

<main>
    <section id="kontakt">
        <h2>Kontakt</h2>
        <p>Bei Fragen oder Problemen können Sie sich gerne an unsere Kundenhotline wenden: <strong>0800 123456</strong>.</p>
        <p>Unsere Adresse:<br>
        Volksbank Gemen<br>
        Musterstraße 123<br>
        12345 Gemen</p>
    </section>
    <section id="konten">
        <h2>Konten</h2>
        <p>Informationen zu unseren verschiedenen Konten finden Sie auf unserer Webseite unter <a href="https://www.volksbank-gemen.de/konten">www.volksbank-gemen.de/konten</a>.</p>
    </section>
    <section id="zahlungsverkehr">
        <h2>Zahlungsverkehr</h2>
        <p>Details zu Überweisungen, Lastschriften und anderen Zahlungsdienstleistungen erhalten Sie auf unserer Webseite unter <a href="https://www.volksbank-gemen.de/zahlungsverkehr">www.volksbank-gemen.de/zahlungsverkehr</a>.</p>
    </section>
    <section id="kredit">
        <h2>Kredite</h2>
        <p>Interessieren Sie sich für unsere Kreditangebote? Besuchen Sie <a href="https://www.volksbank-gemen.de/kredite">www.volksbank-gemen.de/kredite</a> für weitere Informationen.</p>
    </section>
    <section id="sicherheit">
        <h2>Sicherheit</h2>
        <p>Lesen Sie unsere Tipps zur Sicherheit im Online-Banking auf <a href="https://www.volksbank-gemen.de/sicherheit">www.volksbank-gemen.de/sicherheit</a>.</p>
    </section>
    <section id="technische_probleme">
        <h2>Technische Probleme</h2>
        <p>Für technische Probleme steht Ihnen unser Ansprechpartner <strong>Fritz-Gerald von Porsche</strong> zur Verfügung.</p>
        <p>Sie können ihn unter folgender E-Mail-Adresse erreichen: <strong>fritzgerald@volksbank-gemen.de</strong></p>
        <img src="manager-64.png" alt="Ansprechpartner" class="src">
    </section>
</main>
<footer>
    <p>&copy; 2024 Volksbank Gemen</p>
</footer>
</body>
</html>