<!--HTML-Grundger체st 체ber die Eingabe von html und dann html:5 ausw채hlen-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Volksbank</title>
</head>
<body>
    <!--Der Header soll die Seite strukturieren und bekommt entsprechende Styles zugewiesen-->
    <header>
        <h1>Herzlich Willkommen bei der Volksbank</h1>
    </header>
    <!--Formularfelder (Textboxen, Button etc.) m체ssen in form-Tags eingebettet werden-->
    <form>
        <label>Benutzername</label><br>
        <input><br>
        <label>Kennwort</label><br>
        <input type="password"><br>
        <button>Einloggen</button>
        <p>
            <a href="Passwortvergessen.html">Passwort vergessen?</a>
        </p>
    </form>
     <footer>
        &#169; 2024 Volksbank AG
     </footer>
</body>
</html>